body{perspective: 6000px;}

h1, h2{ font-family: 'Eczar',cursive; size:20px; font-weight:700; color:#163172;}

button.is-checked,button:active,button:checked,button:focus{background-color:#255EE3;color:#fff;border:1px solid #00f;box-shadow:0 0 0 0 rgba(0,0,0,.26)}button.is-checked svg,button:active svg,button:checked svg,button:focus svg{color:#fff}
.button,.card p,.filters,body{font-family:'Space Mono',sans-serif}
.cool-headline{position:relative;top:8px;left:8px;display:inline-block;color:#255ee3;font-size:68px;margin-bottom:2px}@keyframes dash-animation{0%{background-position:0 0}100%{background-position:100% 0}}.cool-headline:before{content:" ";display:block;position:absolute;top:-8px;left:-8px;bottom:-2px;right:-2px;z-index:1;background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIxMi41JSIgc3RvcC1jb2xvcj0iI2U4ZTNjNyIvPjxzdG9wIG9mZnNldD0iMTIuNSUiIHN0b3AtY29sb3I9IiNlOGUzYzciIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSIzNy41JSIgc3RvcC1jb2xvcj0iI2U4ZTNjNyIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjM3LjUlIiBzdG9wLWNvbG9yPSIjZThlM2M3Ii8+PHN0b3Agb2Zmc2V0PSI2Mi41JSIgc3RvcC1jb2xvcj0iI2U4ZTNjNyIvPjxzdG9wIG9mZnNldD0iNjIuNSUiIHN0b3AtY29sb3I9IiNlOGUzYzciIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSI4Ny41JSIgc3RvcC1jb2xvcj0iI2U4ZTNjNyIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9Ijg3LjUlIiBzdG9wLWNvbG9yPSIjZThlM2M3Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g);background-image:-moz-linear-gradient(45deg,#f5f5f5 12.5%,rgba(232,227,199,0) 12.5%,rgba(232,227,199,0) 37.5%,#f5f5f5 37.5%,#f5f5f5 62.5%,rgba(232,227,199,0) 62.5%,rgba(232,227,199,0) 87.5%,#f5f5f5 87.5%);background-image:-webkit-linear-gradient(45deg,#f5f5f5 12.5%,rgba(232,227,199,0) 12.5%,rgba(232,227,199,0) 37.5%,#f5f5f5 37.5%,#f5f5f5 62.5%,rgba(232,227,199,0) 62.5%,rgba(232,227,199,0) 87.5%,#f5f5f5 87.5%);background-image:linear-gradient(45deg,#f5f5f5 12.5%,rgba(232,227,199,0) 12.5%,rgba(232,227,199,0) 37.5%,#f5f5f5 37.5%,#f5f5f5 62.5%,rgba(232,227,199,0) 62.5%,rgba(232,227,199,0) 87.5%,#f5f5f5 87.5%);background-size:6px 6px;animation:dash-animation 30s infinite linear}.cool-headline:after{z-index:2;content:attr(data-text);position:absolute;left:-8px;top:-8px;color:#0000cd;text-shadow:3px 3px #f5f5f5}
/*old style*/

.card-image>img {
    opacity: 0.5;WIDTH: 100%;
    -webkit-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}
.card-image {
    background-color: #255EE3;
}
.card-image>img{/*opacity: 1*/filter: url('#fover');transition: all 300ms ease-in-out;}
.card:hover .card-image>img{opacity: 1;filter: none;}

.card-footer a>svg, .card-footer a>img, .card-content .tag{
    margin-right: 6px;
}

.row{padding-top: 4em; padding-bottom: 2em;}

.entry{margin-bottom: 12px; box-shadow: 0 1rem 1rem -1rem rgba(10,10,10,.4);transition:ALL 200ms ease-in-out;
    transition-property: box-shadow,-webkit-transform;
    transition-property: box-shadow,transform;
    transition-property: box-shadow,transform,-webkit-transform;
    will-change: box-shadow,transform}

/*CSS animation */
.entry, .modal-card{
    transform-style: preserve-3d;
  transform-origin: center; backface-visibility: hidden;
    }
.entry:hover{  box-shadow: 0 3rem 3rem -1.25rem rgba(10,10,10,.8);
    -webkit-transform: translateY(-.5rem);
    transform: translateY(-.5rem);
  transform: scale(1.25) rotateX(6deg) rotateY(6deg) ;Z-INDEX:2;}

  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }

  .modal-wrapper {
      top: 1%;
      position: inherit;
      margin: auto;
      width: inherit;}

  .modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(2em, 2em, 3em, .8);
    transition: all .3s ease;
  }

.modal-enter {
  opacity: 0;
}

.modal-enter-active {
animation: f-out .5s ease-in-out;
}
[v-cloak]{display: none;}

.bounce-enter-active{
  animation: bounce-in .6s ease-out;
}

 /*.bounce-leave-active:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 10;background-color:#255EE3;
  animation-delay: .5s;animation: bounce-in 1s .6s ease;
}*/

.bounce-leave-active, .modal-leave-active  {
  animation: f-out .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0.9) translateX(-100%) rotateY(-180deg) ;
    opacity: 0;
  }
  50% {
    transform: scale(1.05) translateX(-50%) rotateY(-90deg);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes f-out {
  0% { ;
    opacity: 0;
  }
  50% {
  transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.hero-body {
  animation: slide-top 1s;
}
.bottom {
  animation: slide-bottom 0.8s;
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.progress::-webkit-progress-value {
  transition: all 0.5s ease-in-out;
}
.progress{-moz-appearance: none;
-webkit-appearance: none;}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
/*scrolling-header
section.hero.is-light {
    height: 80px;
    position: fixed;
      width: 100%;
      z-index: 999;
      top: 0;}
    h1.title.cool-headline {
    font-size: 25px;
    content: 'Anim_List';}
    .hero-body {
    padding: 12px;
}
.hero p {
    font-size: 12px;
}
.hero .container>* {
    display: inline-block;
}/*/
